.streamContent {
  display: block;
  width: 50%;
  height: 55vh;
  float: right;
}
.streamContent video {
  width: 90%;
}

.chat-bar {
  display: flex;
  flex-direction: column;
  height: 92%;
  width: 25%;
  background: var(--sidebar);
}

.header {
  padding: 5px 15px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.chat-component {
  min-height: 0;
  display: flex !important;
  flex-flow: column nowrap !important;
  position: relative !important;
  -moz-box-flex: 1 !important;
  flex-grow: 1 !important;
  height: 100% !important;
}

.chat-content {
  display: flex !important;
  flex-direction: column !important;
  -moz-box-flex: 1 !important;
  flex-grow: 1 !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  scroll-behavior: smooth;
}

.welcomeMsg {
  opacity: 0.5;
  text-align: center;
  display: block;
  margin: 5px 0;
}

.msg {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  width: 100%;
  border-radius: 5px;
  padding: 5px 0;
}
.msg:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.msg-date {
  margin-right: 2%;
  opacity: 0.6;
  margin-left: 3%;
}

.msg-author {
  color: var(--red-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.messageContent {
  width: 90%;
  display: block;
  margin: 10px auto;
  background: var(--searchbar);
  outline: none;
  border: none;
  resize: none;
  color: var(--text-color);
  overflow-x: hidden;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border-radius: 8px;
  font-family: "Quicksand", sans-serif;
}

.align-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.params {
  cursor: pointer;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.sendMsg {
  border: none;
  border-radius: 6px;
  padding: 0.6rem;
  background: var(--red-color);
  cursor: pointer;
  color: var(--text-color);
  font-weight: 600;
  margin-right: 5px;
}

.chatActions {
  width: 90%;
  margin: 0 auto;
}

.colorChanger {
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  transform: translate(57%, -40px);
  background: var(--popup);
  animation: color_anim 0.5s cubic-bezier(0.79, -0.08, 0.31, 0.55) 1;
  border-radius: 8px;
}
.colorChanger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--popup);
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.changeColor {
  width: 20px;
  height: 20px;
  margin: 5px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  border: 1.5px solid transparent;
  cursor: pointer;
}
.changeColor:hover {
  border: 1.5px solid #fff;
}

.r-bg {
  background: var(--red-color) !important;
}

.v-bg {
  background: var(--green-color) !important;
}

.y-bg {
  background: var(--yellow-color) !important;
}

.b-bg {
  background: var(--blue-color-2) !important;
}

.green {
  color: var(--green-color) !important;
}

.yellow {
  color: var(--yellow-color) !important;
}

.red {
  color: var(--red-color) !important;
}

.blue {
  color: var(--blue-color-2) !important;
}

@keyframes color_anim {
  0% {
    transform: translate(57%, -10px);
    opacity: 0;
  }
  100% {
    transform: translateY(57%, -40px);
    opacity: 1;
  }
}
/* Icons */
.gg-options {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 2px;
  box-shadow: -3px 4px 0 0, 3px -4px 0 0;
  left: 4px;
  top: 8.5px;
}
.gg-options::after, .gg-options::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-radius: 100%;
}
.gg-options::before {
  top: -7px;
  left: -4px;
}
.gg-options::after {
  bottom: -7px;
  right: -4px;
}

/*# sourceMappingURL=stream.component.css.map */
