<div class="streamContent">
  <video id="videoPlaying" play controls></video>
</div>
<div class="chat-bar">
  <div class="header">
    <h1>Stream chat</h1>
  </div>
  <section class="chat-component">
    <div class="chat-content">
      <div *ngFor="let message of messages">
        <span *ngIf="message.isWelcome" class="welcomeMsg">{{ message.content }}</span>
        <div *ngIf="!message.isWelcome" class="msg">
          <span class="msg-date">{{ message.date }}</span>
          <span class="msg-author {{ message.color }}">{{ message.author }}</span>
          <span class="msg-content"> : {{ message.content }}</span>
        </div>
      </div>
    </div>
    <div class="chat-send">
      <textarea maxlength="500" placeholder="Send a message" class="messageContent" rows="1"></textarea>
      <div class="chatActions">
        <div class="align-right">
          <div *ngIf="changingColor" class="colorChanger">
            <div class="changeColor r-bg" (click)="changeColor($event)"></div>
            <div class="changeColor v-bg" (click)="changeColor($event)"></div>
            <div class="changeColor b-bg" (click)="changeColor($event)"></div>
            <div class="changeColor y-bg" (click)="changeColor($event)"></div>
          </div>
          <div class="params">
            <div class="gg-options">
            </div>
          </div>
          <button class="sendMsg">Send</button>
        </div>
      </div>
    </div>
  </section>
</div>
