<div class="nav">
  <div class="left navContainer">
    <ul>
      <li><img src="/assets/Rectangle%201.png" alt="Zweetch" title="Zweetch"></li>
      <li><a href="" routerLink="/channels/test">In stream</a></li>
      <li><a href="" routerLink="/">Clips</a></li>
    </ul>
  </div>
  <div>
    <input type="text" class="search" placeholder="Search...">
  </div>
  <div class="right navContainer">
    <ul>
      <li><a href="#">In stream</a></li>
      <li><a href="#">Clips</a></li>
    </ul>
  </div>
</div>
