<!DOCTYPE html>
<html>
<head>
	<title>Live</title>
	<style>
		.tchat{
			position: fixed;
			top: 20px;
			right: 20px;
			background: #1a181e;
			width: 90vh;
			height: 60vh;
			color: #fff;
		}
		#display_msg{
			height: 90%;
			width: 100%;
			overflow-y: auto;
			color: #fff;
		}
	</style>
</head>
<link rel="stylesheet" href="css/view.css">
<body style="height: 100%; background-color: transparent;">
<video id="videoPlaying" play></video>
<div class="tchat">
	<div id="display_msg"></div>
	<div class="send_msg">
		<input type="text" id="message" placeholder="Send a message" maxlength="500">
		<span id="send">Send</span>
	</div>
</div>
<script src="websocket.js"></script>
<script>
	const mediaSource = new MediaSource();
	const ws = new webSocket("ws://localhost:3000/", "echo-protocol");

	ws.on('ready', () => {
		ws.send("message", "Salut mon pote");
	});

	ws.on("message", message => {
		const div = document.createElement("div");
		div.classList.add("msg");
		const msg_content = document.createElement("p");
		msg_content.innerText = message;
		div.appendChild(msg_content);
		display_msg.appendChild(div);
		display_msg.scroll(0, display_msg.scrollHeight)
	});

	send.onclick = () => {
		const content = message.value.trim();
		if(!content || content == '' || content.length > 500) return;
		ws.send("message", content);
		message.value = "";
	}

	ws.open();

	videoPlaying.src = URL.createObjectURL(mediaSource);
	let streamerSegment = 0;
	let enableStream = true;
	const queue = [];

	mediaSource.addEventListener('sourceopen', sourceOpen);
	var sourceBuffer;
	const mime = "video/webm; codecs=\"vp8, vorbis\"";

	function fetchSegment(){
		return fetch(`/playVideo${streamerSegment > 0 ? '?count='+streamerSegment : ''}`)
				.catch(e => {
					enableStream = false;
					clearInterval(refreshVideo);
					sourceBuffer = undefined;
					mediaSource.endOfStream();
					videoPlaying.pause();
				}).then(res => res.arrayBuffer());
	}

	let refreshVideo = setInterval(async () => {
		streamerSegment++;
		if(sourceBuffer.updating) return;
		let data = await fetchSegment();

		if (queue.length > 0) return queue.push(data);

		sourceBuffer.appendBuffer(data);
		videoPlaying.play();
	}, 2000)

	async function sourceOpen(){
		let informations = await Promise.all([fetch("/getStreamer").then(res => res.json()), fetchSegment()]);
		streamerSegment = informations[0].count;
		let data = informations[1];
		queue.push(data);
		sourceBuffer = mediaSource.addSourceBuffer(mime);
		sourceBuffer.mode = 'sequence';
		sourceBuffer.addEventListener('updateend', onUpdateEnd);
		sourceBuffer.onabort = (...e) => {
			console.log(...e);
		}
		sourceBuffer.onerror = (...e) => {
			console.log(...e);
		}
		videoPlaying.play();
		sourceBuffer.appendBuffer(queue.shift());
	}

	function onUpdateEnd(){
		if(queue.length < 1 || sourceBuffer.updating) return;
		sourceBuffer.appendBuffer(queue.shift());
		sourceBuffer.remove(0, 2);
	}
</script>
</body>